.projects {
  padding-top: 50svh;
  position: relative;

  &__title {
    color: $back-color;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translateX(-50%) !important;
    z-index: 10;
    white-space: nowrap;
  }

  &__btn {
    color: $text-color;
    padding: 10px 25px;
    outline: none;
    border: 1px solid $text-color;
    margin: 0 auto;
    display: block;
    margin-bottom: 10svh;
  }
}

.blob {
  background-color: $text-color;
  height: 20px;
  width: 20px;
  margin: 0 auto;
  border-radius: 100%;
  position: relative;
}

.projects__wrapper div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 400px;
  row-gap: 20px;
}

.projects__wrapper div:nth-child(even) {
  align-items: flex-end;
}

.p__item img {
  max-height: 400px;
  transition: opacity 0.4s ease-in;
}

.p__item p {
  text-align: right;
}

.p__item img:hover {
  opacity: 0.8;
}
