@media screen and (max-width: 1920px) {
  .about__title,
  .projects__title,
  .whoam__title {
    @include responsive("font-size", 30, 120);
  }

  .vision__title {
    @include responsive("font-size", 20, 35);
  }

  .vision__content {
    @include responsive("font-size", 13, 16);
  }

  .contacts__title {
    @include responsive("font-size", 40, 90);
  }
}

@media screen and (max-width: 1600px) {
  .projects__wrapper div {
    margin: 50px 200px;
  }

  .vision__content img {
    max-width: 500px;
  }
}

@media screen and (max-width: 1300px) {
  .vision__content img {
    max-width: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .projects__wrapper div {
    margin: 50px;
  }

  .vision__content p {
    max-width: 150px;
  }
}

@media screen and (max-width: 700px) {
  .p__item img {
    max-height: 300px;
  }

  .vision__content img {
    padding-top: 30px;
    max-width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .socials {
    column-gap: 10px;
  }

  .socials__icon {
    width: 30px;
    height: 30px;
  }

  .whoam__wrapper {
    column-gap: 30px;
  }

  .vision__content p {
    max-width: 100px;
    line-height: 1.1;
  }

  .vision__content img {
    max-width: 200px;
    max-height: 300px;
  }
}

@media screen and (max-width: 400px) {
  .vision__content img {
    max-width: 180px;
  }
}

@media screen and (max-width: 350px) {
  .vision__content p {
    max-width: 100px;
    line-height: 1.1;
  }

  .vision__content img {
    max-width: 150px;
  }
}
